* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Oxygen", sans-serif;
}

section {
  border: 2px solid;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

p {
  align-self: center;
  font-size: 8rem;
  color: white;
}

.counter {
  animation: pulse 1s linear infinite;
}

.canvas {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: grey;
}

@keyframes pulse {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
