* { 
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    margin: 0; 
}

section {
    border: 2px solid;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    color: white;
}

article {
    align-self: center;
    text-align: center;  
}

h1 {
    font-size: 8rem;
    text-align: center;
}
  
h2 {
    font-size: 6rem;
    text-align: center;

}

p {
    font-size: 4rem;
}

.pulse { 
    animation: flash 1s linear infinite;
}

@keyframes flash {
    from{
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.canvas {
    background-size: cover;
    background-repeat: no-repeat;
}

/* fonts :
font-family: 'Indie Flower', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Righteous', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'BioRhyme Expanded', serif;
font-family: 'Luckiest Guy', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'VT323', monospace;
font-family: 'Reenie Beanie', cursive; */