* {
  box-sizing: border-box;
}

body{
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cdff4c62302fd44491d4850202323d11&auto=format&fit=crop&w=800&q=60');
  background-repeat: no-repeat;
  background-size: cover;
}
.main-content {
  width: 75%;
  align-self: center;
  justify-content: center;

}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-self:center;

  width: 42%;
}

.board-item {
  width: 33%;
  height: 15vh;
}

.board-item:nth-of-type(2),
.board-item:nth-of-type(5),
.board-item:nth-of-type(8) {
  border-left: 3px solid;
  border-right: 3px solid;
}

.board-item:nth-of-type(4),
.board-item:nth-of-type(5),
.board-item:nth-of-type(6) {
  border-top: 3px solid;
  border-bottom: 3px solid;
}

.winner-board {
  display: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-game {
  padding: 1%;
  padding-bottom: 5%
}
.main-game, 
aside {
  text-align: center;
  font-size: 6rem;
  font-family: 'Gaegu', cursive;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 0;
}

h1 {
  font-family: 'Wendy One', sans-serif;
  font-size: 7rem;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 5rem;
}

button {
  margin-top: 7%;
  border-radius: 2px;
  font-family: 'Wendy One', sans-serif;
  font-size: 20px;
  padding: 16px;
  background-color: goldenrod;
  border: none;
  color: grey;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-bottom: 0;
}

button:hover {
  background-color: white;
}

.winner-board {
  margin-top: 0;
}