* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-self:center;

  width: 60%;
}

.board-item {
  width: 33%;
  height: 12.5vh;
}

.board-item:nth-of-type(2),
.board-item:nth-of-type(3),
.board-item:nth-of-type(5),
.board-item:nth-of-type(6),
.board-item:nth-of-type(8),
.board-item:nth-of-type(9) {
  border-left: 1px solid;
}

.board-item:nth-of-type(4),
.board-item:nth-of-type(5),
.board-item:nth-of-type(6) {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.winner-board {
  display: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}

section, 
aside {
  text-align: center;
  font-size: 4rem;
  font-family: 'Gaegu', cursive;
  display: flex;
  justify-content: center;
  align-content: center;
}